h1 {
    font-family: Futura;
    color: blueviolet;
    size: 20px;
}

p {
    font-family: Helvetica;
    color: aqua;
    size: 16px;
}

p.hover {
    font-family: Helvetica;
    color: aqua;
    size: 13;
}

h2 {
    font-family: Futura;
    color: hsl(271, 76%, 53%);
    size: 18px;
}
